Station_meteo/node_red_code.txt
[{"id":"c59603d.04ea","type":"serial in","z":"724fc81f.1e3398","name":"","serial":"f83e5325.d4cae","x":70,"y":80,"wires":[["fc300262.32fab","455e2383.d1528c","2121c3bf.a9d9dc"]]},{"id":"fc300262.32fab","type":"function","z":"724fc81f.1e3398","name":"ToString","func":"var outputMsgs = [];\nvar words = msg.payload.split(\" \");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nreturn outputMsgs;\n","outputs":19,"noerr":0,"x":220,"y":260,"wires":[["f3b603f1.01619"],["883ec6e5.797688","3d2ac55d.f46d0a"],["6c8f4b8b.c2d7e4"],["947c08fa.2e3978"],["85dc80c5.35bbc"],["1833c3d3.d55b6c"],["fd2fd8f1.ad4be8"],[],["15dc15a3.fcd1ca"],["eacbc69e.319488"],["46dda522.461c6c"],["6386e216.85fc2c"],["7945176d.d723a8"],["20c3c319.ce563c"],["5a1befa.f527e1","67a16f82.fa2f7"],["14ef0fb1.8f91a"],["89f8e225.bc72f","70b9aa10.1772e4"],["c9a82635.e236b8","555ea1ca.76bc"],["dfa6a12d.9c3fd"]]},{"id":"f3b603f1.01619","type":"ui_gauge","z":"724fc81f.1e3398","name":"","group":"337a1de6.57c9e2","order":0,"width":0,"height":0,"gtype":"compass","title":"wind Direction","label":"°","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":20,"wires":[]},{"id":"883ec6e5.797688","type":"ui_gauge","z":"724fc81f.1e3398","name":"","group":"337a1de6.57c9e2","order":0,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"mph","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":60,"wires":[]},{"id":"3d2ac55d.f46d0a","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"337a1de6.57c9e2","order":0,"width":0,"height":0,"label":"Wind Speed Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":100,"wires":[[],[]]},{"id":"6c8f4b8b.c2d7e4","type":"ui_gauge","z":"724fc81f.1e3398","name":"","group":"337a1de6.57c9e2","order":0,"width":0,"height":0,"gtype":"compass","title":"wind direction_avg2m","label":"°","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":140,"wires":[]},{"id":"85dc80c5.35bbc","type":"ui_gauge","z":"724fc81f.1e3398","name":"","group":"51094eb6.a6f12","order":0,"width":0,"height":0,"gtype":"wave","title":"wind gust speed","label":"mph","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":220,"wires":[]},{"id":"947c08fa.2e3978","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"337a1de6.57c9e2","order":0,"width":0,"height":0,"label":"windspdmph_avg2m","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1060,"y":180,"wires":[[],[]]},{"id":"1833c3d3.d55b6c","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"51094eb6.a6f12","order":0,"width":0,"height":0,"label":"windgustmph_10m","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":260,"wires":[[],[]]},{"id":"fd2fd8f1.ad4be8","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"51094eb6.a6f12","order":0,"width":0,"height":0,"label":"windgustdir_10m","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"360","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1070,"y":300,"wires":[[],[]]},{"id":"15dc15a3.fcd1ca","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"aa99fee2.db2a5","order":0,"width":0,"height":0,"label":"Dailyrainin","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":380,"wires":[[],[]]},{"id":"eacbc69e.319488","type":"ui_text","z":"724fc81f.1e3398","group":"aa99fee2.db2a5","order":0,"width":"4","height":"3","name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":420,"wires":[]},{"id":"46dda522.461c6c","type":"ui_text","z":"724fc81f.1e3398","group":"aa99fee2.db2a5","order":0,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-center","x":1060,"y":480,"wires":[]},{"id":"6386e216.85fc2c","type":"ui_text","z":"724fc81f.1e3398","group":"aa99fee2.db2a5","order":0,"width":0,"height":0,"name":"","label":"Altitude en m","format":"{{msg.payload}}","layout":"row-right","x":1070,"y":520,"wires":[]},{"id":"7945176d.d723a8","type":"ui_text","z":"724fc81f.1e3398","group":"aa99fee2.db2a5","order":0,"width":0,"height":0,"name":"","label":"Nombre de Satelite","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":560,"wires":[]},{"id":"20c3c319.ce563c","type":"ui_text","z":"724fc81f.1e3398","group":"aa99fee2.db2a5","order":0,"width":0,"height":0,"name":"","label":"Date de satelite","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":600,"wires":[]},{"id":"67a16f82.fa2f7","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"84c346e2.cdc018","order":2,"width":0,"height":0,"label":"Graphe d' Humidité ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1070,"y":680,"wires":[[],[]]},{"id":"5a1befa.f527e1","type":"ui_gauge","z":"724fc81f.1e3398","name":"Humidité","group":"84c346e2.cdc018","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidité","label":"%","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":640,"wires":[]},{"id":"89f8e225.bc72f","type":"ui_gauge","z":"724fc81f.1e3398","name":"pression","group":"30362b50.f594f4","order":0,"width":0,"height":0,"gtype":"gage","title":"Pression","label":"Bar","format":"{{value}}","min":"0","max":"1.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":740,"wires":[]},{"id":"70b9aa10.1772e4","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"30362b50.f594f4","order":0,"width":0,"height":0,"label":"Graphe de Pression","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0.5","ymax":"1.2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":700,"wires":[[],[]]},{"id":"14ef0fb1.8f91a","type":"ui_gauge","z":"724fc81f.1e3398","name":"Temperature","group":"84c346e2.cdc018","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":"60","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":720,"wires":[]},{"id":"c9a82635.e236b8","type":"ui_gauge","z":"724fc81f.1e3398","name":"Lumière","group":"6b4f4da.caccab4","order":0,"width":0,"height":0,"gtype":"wave","title":"Lumirère","label":"V","format":"{{value}}","min":"0","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":780,"wires":[]},{"id":"555ea1ca.76bc","type":"ui_chart","z":"724fc81f.1e3398","name":"","group":"6b4f4da.caccab4","order":0,"width":0,"height":0,"label":"Graphe de Lumiere","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":840,"wires":[[],[]]},{"id":"dfa6a12d.9c3fd","type":"ui_gauge","z":"724fc81f.1e3398","name":"Tension","group":"6b4f4da.caccab4","order":0,"width":0,"height":0,"gtype":"gage","title":"Tension","label":"V","format":"{{value}}","min":"4","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":900,"wires":[]},{"id":"2121c3bf.a9d9dc","type":"mqtt out","z":"724fc81f.1e3398","name":"AWS","topic":"stationmeteo","qos":"","retain":"","broker":"9880173c.9e1798","x":210,"y":420,"wires":[]},{"id":"450d597.2f33ca8","type":"debug","z":"724fc81f.1e3398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":620,"wires":[]},{"id":"455e2383.d1528c","type":"function","z":"724fc81f.1e3398","name":"AWSDataFormating","func":"var outputMsgs = [];\nvar words = msg.payload.split(\" \");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nreturn  {\n    \"Vitesse du vent   \" :JSON.stringify(outputMsgs[1].payload),\n    \"Direction du vent  \" : JSON.stringify(outputMsgs[0].payload),\n    \"Pluviometrie   \": JSON.stringify(outputMsgs[7].payload),\n    \"Humidite   \" : JSON.stringify(outputMsgs[14].payload),\n    \"Pression   \":JSON.stringify(outputMsgs[16].payload),\n    \"Temprature   \": JSON.stringify(outputMsgs[15].payload)\n};","outputs":1,"noerr":0,"x":180,"y":500,"wires":[["450d597.2f33ca8"]]},{"id":"f83e5325.d4cae","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"337a1de6.57c9e2","type":"ui_group","z":"","name":"Wind","tab":"35afed49.4a0dc2","order":5,"disp":true,"width":"6","collapse":false},{"id":"51094eb6.a6f12","type":"ui_group","z":"","name":"Windgust","tab":"35afed49.4a0dc2","order":4,"disp":true,"width":"6","collapse":false},{"id":"aa99fee2.db2a5","type":"ui_group","z":"","name":"Rain&&GPS","tab":"35afed49.4a0dc2","order":6,"disp":true,"width":"6","collapse":false},{"id":"84c346e2.cdc018","type":"ui_group","z":"","name":"Humidité","tab":"35afed49.4a0dc2","order":6,"disp":true,"width":"6","collapse":false},{"id":"30362b50.f594f4","type":"ui_group","z":"","name":"Pression","tab":"35afed49.4a0dc2","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b4f4da.caccab4","type":"ui_group","z":"","name":"Lumiere","tab":"35afed49.4a0dc2","order":3,"disp":true,"width":"6","collapse":false},{"id":"9880173c.9e1798","type":"mqtt-broker","z":"","name":"","broker":"a1c1mj73nrume2.iot.us-west-2.amazonaws.com","port":"8883","tls":"c27bee53.b6bd6","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"35afed49.4a0dc2","type":"ui_tab","z":"","name":"Weather Station","icon":"dashboard","order":1},{"id":"c27bee53.b6bd6","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"ff21d09e60-certificate.pem.crt","keyname":"ff21d09e60-private.pem.key","caname":"key.txt","verifyservercert":true}]